/*Style Css des balise */
* {
    margin: 0;
}
  nav a {
    margin-left: 30px;
  }

a{
    color: black;
    text-decoration: none;
}

p, 
li {
    font-size: 1.1em;
    font-family: "manrope";
    color: #F9F8FF;
    margin-bottom: 30px;
 }

 h2
  {
color: #F9F8FF;
 }
 
header,
footer{
    background-color: white;
    padding: 20px, 50px, 20px, 50px;
    font-family: "manrope";
    width: 100%;
}

section{
    padding: 80px;
}

body
{
    font-family: "manrope";
    font-size: 1em;
    background-color: #1F2039;
}

caption{
    font-family: "Playwrite DE Grund", cursive;
    margin-bottom: 15px;
    color: white;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    text-align: center;
}
td{
    border: #A5B4FC 1px solid;
    padding: 50px;
    color: white;
}
th{
    border: #A5B4FC 1px solid;
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
/*pour les mots important*/
em {
    color: #A5B4FC;
    font-style: normal;
}
h1 {
    font-size: 3.5em;
    color: #A5B4FC; 
    font-family: "Playwrite DE Grund", cursive;
    margin-bottom: 10px;
}

/* Style Css des animations */
.lien_icone:hover {
    opacity: 0.5;
}

.lien_entete:hover{
    text-decoration: underline;
}
.cta:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
  }
  
.a-propos-main {
    width: 50%;
    margin: auto;
}
.carre-contenu h2 {
    margin-top: 30px;
  }
  
  .carre-contenu ul {
    margin-top: 30px;
  }
  
a:hover{
    text-decoration: underline;
}

.lien-conteneur-photo:hover{
    position: relative;
}
/*Style Css des class*/

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .lien-conteneur-photo:hover .photo-hover {
    display: flex;
  }

.cta {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3;
    display: inline-block;
}

.section_blanche
{
background-color: white;
padding: 80px;
}
.portfolio-section-photos {
    width: 100%;
    background-color: white;
  }
  
  .portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
  }
    
.grid-paysage
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 15px;
}
.grid-portraits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    margin-bottom: 15px;
  }

.grid-paysages img,
.grid-portraits img 
{
    width: 100%;
    height: 100%;
/* pour permettre aux images de respecter les dimensions de la grid CSS */
    object-fit: cover;
}
.section_blanche h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
    font-family: "Playwrite DE Grund", cursive;
  }
  
  .section_blanche div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }


.en_tete, 
.pied_de_page
{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.lien_entete
{
    padding: 10px;
}

.accueil-introduction {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin: auto;
  }

.bordure_text
{
    border-bottom : 1px solid white;
    border-right : 1px solid white;
    padding: 50px;
}

/*             <div class="grid-paysage">
                <img src="portfolio/paysage1.jpg" alt="Portrait jeune femme 1" >
                <img src="portfolio/paysage2.jpg" alt="Portrait jeune femme 2" >
                <img src="portfolio/paysage3.jpg" alt="Portrait jeune homme 3" >
                <img src="portfolio/paysage4.jpg" alt="Portrait jeune femme 4" >
                <img src="portfolio/paysage5.jpg" alt="Portrait jeune femme 5" >
                <img src="portfolio/paysage6.jpg" alt="Portrait jeune femme 6" >
             </div>*/